
/* Load custom fonts first */
@font-face {
  font-family: 'Spellbook';
  src: url('/assets/fonts/spellbook.ttf') format('truetype');
}

@font-face {
  font-family: 'SpellbookItalic';
  src: url('/assets/fonts/spellbook-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'STTitles';
  src: url('/assets/fonts/surabanglus.ttf') format('truetype');

}



.st-font-lore {
  font-family: 'Spellbook', Verdana, sans-serif;
  font-size: 1.175em;
}

.st-font-quote {
  font-family: 'SpellbookItalic', Verdana, sans-serif;
  font-size: 1.25em;
}

.st-font-title {
  font-family: 'STTitles', Verdana, sans-serif;
  font-size: 4em;
}