
/* Load custom fonts first */
@font-face {
  font-family: 'Spellbook';
  src: url('/assets/fonts/spellbook.ttf') format('truetype');
}

@font-face {
  font-family: 'SpellbookItalic';
  src: url('/assets/fonts/spellbook-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'STTitles';
  src: url('/assets/fonts/surabanglus.ttf') format('truetype');

}



.st-font-regular {
  font-family: 'Spellbook', Verdana, sans-serif;
  font-size: 2em;
  line-height: 40px;
}

.st-font-italics {
  font-family: 'SpellbookItalic', Verdana, sans-serif;
  font-size: 2em;
  line-height: 40px;
}

.st-font-coming-soon {
    font-family: 'SpellbookItalic', Verdana, sans-serif;
    font-size: 3em;
    line-height: 50px;
}

.st-font-title {
  font-family: 'STTitles', Verdana, sans-serif;
  font-size: 4.5em;
  line-height: 70px;
}

.st-font-copyright {
    font-family: 'Spellbook', Verdana, sans-serif;
    font-size: 1.25em;
    line-height: 20px;
}

.st-font-lore-title {
    font-family: 'SpellbookItalic', Verdana, serif;
    font-size: 4.5em;
    line-height: 75px;
}

.st-font-sub {
    font-family: 'STTitles', Verdana, sans-serif;
    font-size: 1.75em;
    line-height: 20px;
}
